<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/tela-gerente.css">
  <link rel="stylesheet" href="/style.css">
  <title>Gerenciar</title>
</head>
<body>

<header>
  <nav>
    <a class="logo" href="/index-docente">KLING</a>
    <ul class="nav-list">
      <li><a href="/professor/novo-chamado">Novo Chamado</a></li>
      <li><a href="/professor/meus-chamados">Meus Chamados</a></li>
      <li><button class="quit">Sair</button></li>
    </ul>
  </nav>
</header>

<main>
  <h1>Olá, Professor!</h1>
  <h2>Esses são todos os seus chamados abertos</h2>

    <!-- Tela de chamados -->
    <!-- Aqui será apresentado todos os chamados abertos -->
    <div class="screen-chamados">
      
      <% results.forEach(function(result) { %>
        <div class="chamado">
          <div class="text-chamado">
            <span class="titulo"><%= result.idAparelho.toUpperCase() %>: CHAMADA NO BLOCO <%= result.idEndereco %>, SALA <%= result.sala %></span>
          </div>
          <a class="detalhar" href="#">Leia mais...</a>
          <span class="detalhamento">
            <p>Descrição: <%= result.descricao %></p>
          </span>
        </div>
        
      <% }); %>
    
    </div>
</main>

<!-- Rodapé -->
<footer>
  <h3>FALE CONOSCO</h3>
  <ul>
    <li>
      Email coorporativo
    </li>
    <li>
      Numero
    </li>
  </ul>
</footer>

<script>
//       Detalhar
// Obter elementos DOM
const details = document.getElementsByClassName('detalhar')
const detalhamento = document.getElementsByClassName('detalhamento')

for (let i = 0; i < details.length; i++) {
  details[i].addEventListener('click', function(event) {
    event.preventDefault()

    const text = this.innerHTML

    if (text === 'Leia mais...') {
      this.innerHTML = 'Leia menos...'
      this.parentNode.style.height = '120px'
      detalhamento[i].style.display = 'inherit'
      detalhamento[i].style.position = 'absolute'
      detalhamento[i].style.bottom = '30%'
      detalhamento[i].style.left = '13%'
      
    } else {
      this.innerHTML = 'Leia mais...'
      this.parentNode.style.height = '15%'
      detalhamento[i].style.display = 'none'
    }
  })
}
</script>
</body>
</html>