<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/CRUD.css">
  <title>Relação de salas</title>
</head>

<body>
<header>
  <nav>
    <a class="logo" href="/gerente/index">KLING</a>
    <ul class="nav-list">
      <li><a href="/gerente/index">Chamados</a></li>
      <li><a href="/gerente/usuarios">Cadastros</a></li>
      <li><a href="/gerente/salas">Salas</a></li>
      <li><button class="quit">Sair</button></li>
    </ul>
  </nav>
</header>

<main>
  <h1>Salas</h1>

  <form class="CRUD">
    <div class="div-form" style="background-color: #f2f2f2;">
      <label for="area">Área</label>
      <select name="funcao">
        <option value="PROFESSOR">Administração</option>
      </select>

      <label for="block">Bloco</label>
      <input name="block" type="text" required />

      <label for="class">Sala</label>
      <input name="class" type="tel" required>
      <button type="submit" id="btnSalvar" class="addCRUD">Cadastrar novo usuário</button>
    </div>
  </form>
  <div class="CRUD">
    <table id="registros">

      <tr>
        <th>Área</th>
        <th>Bloco</th>
        <th>Sala</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>

      <tr>
        <td>Administração</td>
        <td>A</td>
        <td>2</td>
        <td>
          <button class="editCRUD">Editar</button>
        </td>
        <td>
          <button class="deleteCRUD">Excluir</button>
        </td>
      </tr>

    </table>
  </div>
</main>
      
<footer>
  <h3>FALE CONOSCO</h3>
  <ul>
    <li>
      Email coorporativo
    </li>
    <li>
      Numero
    </li>
  </ul>
</footer>
</body>
</html>