<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/CRUD.css">
  <script src="https://kit.fontawesome.com/108281d3fc.js" crossorigin="anonymous"></script>
  <title>Relação de salas</title>
</head>

<body>
<header>
  <nav>
    <a class="logo" href="/index-gerente">KLING</a>
    <ul class="nav-list">
      <li><a href="/index-gerente">Chamados</a></li>
      <li><a href="/user-crud">Cadastros</a></li>
      <li><a href="/salas-crud">Salas</a></li>
      <li><button class="material-symbols-outlined" id="btn-info-modal">account_circle</button></li>
    </ul>
  </nav>
</header>

<main>
  <h1>Salas</h1>

  <div class="CRUD">
    <table id="registros">

      <tr>
        <th>Área</th>
        <th>Bloco</th>
        <th>Sala</th>
        <th>
          <!-- Ao gerente clicar nesse botão, gerará uma nova linha na tabela, onde ele irá inserir os dados da nova sala -->
          <button onclick="novaSala()" class="addCRUD">Adicionar Sala</button>
        </th>
      </tr>

      <tr>
        <td>Administração</td>
        <td>A</td>
        <td>2</td>
        <td>
          <!-- Ao gerente clicar nesse botão, ele poderá alterar os dados daquela sala em específico-->
          <button onclick="editSala(this.parentNode.parentNode.rowIndex)" class="editCRUD">Editar</button>
          <!-- Botão para excluir sala -->
          <button class="deleteCRUD">Excluir</button>
        </td>
      </tr>

    </table>
  </div>
</main>
      
<footer>
  <h3>FALE CONOSCO</h3>
  <ul>
    <li>
      Email coorporativo
    </li>
    <li>
      Numero
    </li>
  </ul>
</footer>

<!-- Modal Info -->
<div id="user-modal" class="info-modal">
  <div class="info-modal-content">
    <span class="close-info">&times;</span>
    <i class="fa-regular fa-circle-user fa-5x"></i>
    <h2>Informações do Usuário</h2>
    <p>Nome: Rafael Abreu</p>
    <p>Email: kling@example.com</p>
    <p>Telefone: 71</p>
    <button class="quit">Sair</button>
  </div>
</div>

<script>
// -------------- MODAL USER INFO --------------
// Obter elementos DOM
const infoModal = document.getElementById('user-modal')
const btnInfoModal = document.getElementById('btn-info-modal')
const closeInfoModalBtn = document.getElementsByClassName('close-info')[0]
      
// Abrir o modal quando o botão for clicado
btnInfoModal.addEventListener('click', function() {
  infoModal.style.display = 'block'
})
      
// Fechar o modal quando o botão de fechar for clicado
closeInfoModalBtn.addEventListener('click', function() {
  infoModal.style.display = 'none'
})
      
// Fechar o modal quando o usuário clicar fora da área do modal
window.addEventListener('click', function(event) {
  if (event.target === infoModal) {
    infoModal.style.display = 'none'
  }
})
</script>
  </body>
</html>