/* Define a font size média para todos os elementos */
/*{
    font-size: medium;
}*/

/* Estilos para a tag h1 */
h1 {
  color: #000;
  margin: 25px;
  text-align: center;
}

/* Estilos para a classe .CRUD */
.CRUD {
  display: flex;
  align-items: center;
  background-color: #F8F8FF;
  width: 70%;
  margin: 0 auto;
}

/* Estilos para o formulário dentro da classe .CRUD */
.div-form {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.efeito-blur{
  filter: blur(5px);
}

/* Estilos para a tabela dentro da classe .CRUD */
.CRUD table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

/* Estilos para as células de cabeçalho, células e linhas da tabela */
.CRUD th,
.CRUD td,
.CRUD tr {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

/* Estilos para a primeira linha da tabela */
table tbody>tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Estilos para os campos de entrada de texto */
.CRUD input[type='text'],
.CRUD input[type='tel'],
.CRUD select {
  height: 40px;
  width: 200px;
  background-color: #F0F8FF;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  border: black 1px solid;
  text-align: center;
  font-weight: bold;
}

/* Estilos para a última célula de cabeçalho e célula da tabela */
.CRUD th:last-child,
td:last-child {
  border-right: none;
}

/* Estilos para o botão "addCRUD" */
.addCRUD {
  background-color: #6495ED;
  color: #fff;
  border: black 1px solid;
  border-radius: 8px;
  height: 35px;
  width: 150px;
  cursor: pointer;
  font-weight: bold;
}

/* Estilos para o botão "editCRUD" */
.editCRUD {
  background-color: #A9A9A9;
  color: #fff;
  border: black 1px solid;
  border-radius: 8px;
  height: 35px;
  width: 72px;
  cursor: pointer;
  font-weight: bold;
}

/* Estilos para o botão "deleteCRUD" */
.deleteCRUD {
  background-color: #FF0000;
  color: #fff;
  border: black 1px solid;
  border-radius: 8px;
  height: 35px;
  width: 72px;
  cursor: pointer;
  font-weight: bold;
}

/* Estilos de hover para o botão "addCRUD" */
.addCRUD:hover {
  background-color: #ADD8E6;
  transform: scale(1.01);
}

/* Estilos de hover para o botão "editCRUD" */
.editCRUD:hover {
  background-color: #D3D3D3;
  transform: scale(1.01);
}

/* Estilos de hover para o botão "deleteCRUD" */
.deleteCRUD:hover {
  background-color: #FF6347;
  transform: scale(1.01);
}

.delete-modal {
  background-color: #fff;
  color: #fff;
  display: none;
  /* Esconde o modal por padrão */
  position: relative;
  left: 37%;
  bottom: 35%;
  width: 500px;
  overflow: auto;
  border: black 1px solid;
  border-radius: 10px;
}

/* Estilos para o modal */
.delete-modal-content {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100%;
}

.delete-modal-content header {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  background-color: #f3f3f3;
}


.delete-modal-content form {
  border-top: black 1px solid;
  display: inherit;
  justify-content: space-around;
  padding: 30px;
}

.delete-modal-content input[type='text'] {
  height: 30px;
  width: 70%;
  border-radius: 5px;
  background-color: #D1D1D1;
}

.edit-modal {
  display: none;
  background-color: #fff;
  color: #fff;
  position: relative;
  left: 37%;
  bottom: 45%;
  width: 500px;
  overflow: auto;
  border: black 1px solid;
  border-radius: 10px;
}

/* Estilos para o modal */
.edit-modal-content {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100%;
}

.edit-modal-content header {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  border-bottom: black 1px solid;
  background-color: #f3f3f3;
}

.edit-modal-content form>div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.edit-modal-content form>div>label {
  font-size: x-large;
  font-weight: bold;
}

.edit-modal-content form>div>input,
select {
  border-radius: 5px;
  border: 1px solid;
  height: 35px;
  padding: 5px;
}

.edit-modal-content form>button {
  height: 40px;
  width: 100px;
  margin: 10px;
  float: right;
}

/* Estilos para o botão de fechar do modal */
.close-delete,
.close-edit {
  display: inherit;
  margin-top: -5px;
  padding: 2.5px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
  /* Adicionado para alinhar no canto direito do modal */
}

/* Estilos para o botão de fechar do modal quando está em hover ou focado */
.close-delete:hover,
.close-delete:focus,
.close-edit:hover,
.close-edit:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}